
<div class="row">
  <div class="col-md-6">
    <label class="form-label">Pasirinkitę valiutą</label>
    <select [(ngModel)]="from" class="form-control">
      <option>Pasrinikite valiutą</option>
      <option *ngFor="let v of valiutos">{{ v }}</option>
    </select>
  </div>
</div>
  <div class="col-md-6">
    <label class="form-label">Į kokią konvertuoti</label>
    <select [(ngModel)]="to"  class="form-control">
      <option>Pasrinikite valiutą</option>
      <option *ngFor="let v of valiutos">{{ v }}</option>
    </select>
  </div>



<div *ngIf="loading==false && error==false" class="alert alert-success">{{ outtext }} </div>
<div *ngIf="loading==true && error==false" class="alert alert-warning">Loading...</div>
<div *ngIf="loading==false && error==true" class="alert alert-danger">ERROR 404</div>

<button class="btn btn-primary" (click)="clickAndCount()">Paskaičiuoti</button>



